# 대웅 DABA 4기 210430 (금)

## 01. Anaconda Development Environment (jupyter notebook)
---

### terminal

* jupyter notebook 실행할 때 terminal은 서버라고 함!
* To access the notebook, open this file in a browser:
        file:///C:/Users/SAMSUNG/AppData/Roaming/jupyter/runtime/nbserver-18936-open.html
    Or copy and paste one of these URLs:
        http://localhost:8888/?token=a9a5c3e004cc83b725526742747810b23efc4c52bc7f0752
     or http://127.0.0.1:8888/?token=a9a5c3e004cc83b725526742747810b23efc4c52bc7f0752  
  **다음과 같이 terminal에 url로도 접근할 수 있다**

### Jupyter notebook Shortcut

#### 실행모드
* **press m**: to markdown cell
* **press y**: to code cell
* **press a**: insert cell above
* **press b**: insert cell below
* **press dd(d\*2)**: delete cell
* **press h**: view shortcuts command

#### 편집모드
* **Ctrl + Enter**: Run cell
* **Alt + Enter**: Run cell & insert cell below
* **Shift + Enter**: Run cell & select cell below

#### %pwd를 이용해서 아래와 같이 현재 directory를 확인할 수 있음

In [1]:
%pwd

'C:\\Users\\SAMSUNG\\Desktop\\대웅 DABA 4기'

항상 os 이용했었는데 current directory만 얻을 때에는 애용해야겠다

In [3]:
import os
os.getcwd()

'C:\\Users\\SAMSUNG\\Desktop\\대웅 DABA 4기'

* 무료로 공부할 수 있는 파이썬 온라인 자료
* [The Python Tutorial — Python documentation](https://docs.python.org/3/tutorial/index.html)
* [점프 투 파이썬 - WikiDocs](https://wikidocs.net/book/1)
* [강좌: 파이썬 코딩 도장](https://dojang.io/course/view.php?id=7)

## 02. Python basic
---

## Zen of Python
* 파이썬의 철학이 잘 담겨있는 Zen of Python 을 출력해 봅니다.
* import를 통해 파이썬의 라이브러리나 패키지를 가져올 수 있습니다.

In [2]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## boolean
* 파이썬에는 명시적인 것이 암시적인 것보다 낫다라는 철학이 있습니다.
* True나 False는 0과 1로도 표현할 수 있으나 명시적으로 표현하기 위해 True와 False를 사용합니다.

In [5]:
# True는 1과 같음을 표현해 보세요. 파이썬에서는 같음을 비교할 때 == 연산을 사용합니다.
True == 1

True

In [6]:
# False는 0과 같음을 표현해 보세요. 파이썬에서는 같음을 비교할 때 == 연산을 사용합니다.
False == 0

True

In [7]:
# 하지만 True는 문자 1과는 다릅니다. 1을 따옴표로 감싸면 문자열이 됩니다.
True == '1'

False

In [15]:
# and 는 조건 중 하나라도 False 라면 False가 됩니다.
True and False

False

In [16]:
# or 는 하나만 True 라도 True가 됩니다.
True or False

True

In [17]:
# True == 1, False == 0 과 같기 때문에 연산을 할 수 있습니다.
True and 1

1

## 숫자
* 숫자 1과 문자 "1"은 다릅니다. 숫자1과 문자1의 데이터 타입을 출력해 보세요.
* 데이터 타입을 표현할 때 type을 통해 데이터를 출력합니다.

In [18]:
# 숫자 1을 출력해 보세요.
print(1)

1

In [19]:
# 문자 1을 출력해 보세요.
print(str(1))

1

In [20]:
# 숫자 1의 데이터 타입을 출력해 보세요.
type(1)

int

In [23]:
type(1.0)

float

In [21]:
# 문자 1의 데이터 타입을 출력해 보세요.
type('1')

str

In [22]:
# 문자 1과 숫자 1을 비교합니다.
1 == '1'

False

## 변수
* 숫자로 시작할 수 없습니다.
* 언더바(_)를 제외한 특수문자를 사용할 수 없습니다.

|연산자|기능|
|--|--|
| == | 비교연산 |
| = | 할당연산 |

In [24]:
a=1

In [25]:
a

1

In [29]:
a += 1
a

5

In [30]:
b = 3
a + b

8

## 문자열
* https://docs.python.org/3/tutorial/introduction.html#strings

In [32]:
# "Hello World!" 를 출력해 봅니다.
print("Hello World!")

Hello World!

In [33]:
# til 이라는 변수에 문자열을 담아봅니다.
til = "Today I Learned"

In [35]:
# 소문자로 만들어 보세요.
til.lower()

'today i learned'

In [36]:
# 대문자로 만들어 보세요.
til.upper()

'TODAY I LEARNED'

In [38]:
# 주소 "경기도 용인시 처인구 포곡읍 삼계리" 을 출력해 봅니다.
'경기도 용인시 처인구 포곡읍 삼계리'
print('경기도 용인시 처인구 포곡읍 삼계리')

경기도 용인시 처인구 포곡읍 삼계리

In [39]:
# 주소를 address 변수에 담습니다.
address = " 경기도 용인시 처인구 포곡읍 삼계리 503-1  대웅경영개발원 "
print(address)

 경기도 용인시 처인구 포곡읍 삼계리 503-1  대웅경영개발원

In [44]:
# strip 메소드를 사용해 공백을 제거합니다.
address = address.strip()
address

'경기도 용인시 처인구 포곡읍 삼계리 503-1  대웅경영개발원'

### 문자열의 인덱싱과 슬라이싱

In [45]:
# 인덱싱으로 문자 가져오기
address[0]

'경'

In [52]:
# 인덱싱으로 문자 가져오기
address[0] + address[1] + address[2]

'경기도'

In [51]:
# 슬라이싱으로 문자 가져오기
print(address[0:3])
print(address[4:8])
print(address[-7:])

경기도
용인시
대웅경영개발원

## 리스트

* https://docs.python.org/3/tutorial/introduction.html#lists

In [53]:
# 비어있는 리스트를 만듭니다.
[]

[]

In [55]:
# 소화제, 감기약을 원소에 추가합니다.
['소화제', '감기약']

['소화제', '감기약']

In [68]:
# medicine 라는 변수에 비타민, 해열제를 담아봅니다.
medicine = ["소화제", "감기약 ", "비타민", "해열제"]

### 리스트에 원소 추가 삭제하기

In [69]:
# append 로 원소 추가하기
medicine.append("진통제")
medicine

['소화제', '감기약 ', '비타민', '해열제', '진통제']

In [70]:
# remove 로 원소 삭제하기
medicine.remove('진통제')
medicine

['소화제', '감기약 ', '비타민', '해열제']

In [71]:
print(medicine.pop())
medicine

해열제

['소화제', '감기약 ', '비타민']

In [74]:
medicine.reverse()
medicine

['비타민', '감기약 ', '소화제']

### 리스트의 인덱싱

In [75]:
# medicine 라는 변수에 담겨있는 카페명을 인덱싱을 통해 가져옵니다.
medicine[0]

'비타민'

In [76]:
# 1번 인덱스를 가져옵니다.
medicine[1]

'감기약 '

In [77]:
# 마지막 인덱스를 가져옵니다.
medicine[-1]

'소화제'

### 문자열을 리스트로 만들기

In [80]:
# split을 사용해 address를 공백으로 문자열 분리하고 address_list 라는 변수에 담습니다.
address_list = address.split()
address_list

['경기도', '용인시', '처인구', '포곡읍', '삼계리', '503-1', '대웅경영개발원']

In [82]:
# 문자열의 길이
len(address)

34

In [83]:
# 리스트의 길이
len(medicine)

3

In [84]:
# 인덱싱으로 경기도만 가져옵니다.
address_list[0]

'경기도'

In [85]:
# 인덱싱으로 용인시만 가져옵니다.
address_list[1]

'용인시'

In [89]:
# 슬라이싱으로 "용인시" 만 가져오기
# [시작인덱스:끝나는인덱스+1]
print(address[4:7])
print(address_list[1])

용인시
용인시

In [92]:
# startswith 를 사용하면 특정 문자로 시작하는지 여부를 확인할 수 있습니다.
address.startswith('경기')

True

### 문자열과 리스트의 in

In [93]:
# in 을 사용하게 되면 특정 문자열을 포함하고 있는지 여부를 확인할 수 있습니다.
'경기' in address

True

In [95]:
# in 을 사용하게 되면 리스트에 해당 데이터를 포함하고 있는지 여부를 확인할 수 있습니다.
# "경기"가 리스트에 포함되는지 봅니다.
print("경기" in address_list)
print("경기도" in address_list)

False
True

In [96]:
# in 을 사용하게 되면 리스트에 해당 데이터를 포함하고 있는지 여부를 확인할 수 있습니다.
# "처인구"가 리스트에 포함되는지 봅니다.
"처인구" in address_list

True

In [99]:
# " ".join(리스트) 를 사용하면 리스트를 공백 문자열을 연결할 수 있습니다.
# 리스트로 분리된 문자열을 다시 연결합니다.
a = ''

for i in address_list:
    a += (i + ' ')
print(a)

" ".join(address_list)

경기도 용인시 처인구 포곡읍 삼계리 503-1 대웅경영개발원

'경기도 용인시 처인구 포곡읍 삼계리 503-1 대웅경영개발원'

## 딕셔너리
* https://docs.python.org/3/tutorial/datastructures.html#dictionaries

In [100]:
phone = {'서울' : '02',
         '경기': '031',
         '인천': '032',
         '대전': '042',
         '부산': '051',
         '울산': '052',
         '대구': '053',
         '광주': '062'}
phone

{'서울': '02',
 '경기': '031',
 '인천': '032',
 '대전': '042',
 '부산': '051',
 '울산': '052',
 '대구': '053',
 '광주': '062'}

In [101]:
# "서울" 의 값 가져오기
phone['서울']

'02'

In [102]:
# "경기" 의 값 가져오기
phone['경기']

'031'

In [108]:
# "제주" : 063 을 딕셔너리에 추가하기
phone['제주'] = '063'
phone

{'서울': '02',
 '경기': '031',
 '인천': '032',
 '대전': '042',
 '부산': '051',
 '울산': '052',
 '대구': '053',
 '광주': '062',
 '제주': '063'}

##  제어문
* 조건문(if)
* 반복문(for, while)
* [4. More Control Flow Tools — Python documentation](https://docs.python.org/3/tutorial/controlflow.html)

In [109]:
# range를 사용하면 for문의 반복수를 지정할 수 있습니다.
for i in range(5):
    print(i)

0
1
2
3
4

In [113]:
5%2

1

In [114]:
# range 를 사용해 5번 for문을 반복하도록 하고 인덱스 번호가 짝수일 때 소화제 홀수 일 때 해열제를 출력하도록 합니다.
for i in range(5):
    if i%2 == 0:
        print('소화제')
    else:
        print('해열제')

소화제
해열제
소화제
해열제
소화제

In [117]:
i = 0

for m in medicine:
    if i%2 == 0:
        print(m)
    i+=1
print(medicine)

비타민
소화제
['비타민', '감기약 ', '소화제']

In [115]:
# 짝수일때만 숫자를 프린트하도록 for문 안에 if문을 사용해 보기
for i in range(5):
    if i%2 == 0:
        print(i)

0
2
4

In [118]:
# 반복문을 통해 medicine이라는 변수에 담긴 리스트의 원소를 하나씩 출력합니다.
for n in medicine:
    print(n)

비타민
감기약
소화제

In [132]:
# 위 코드에서 소화제일 때는 그대로 출력하고 나머지 텍스트는 "기타"라고 출력합니다
# 출력 결과가 아래의 순서로 나오도록 합니다.
# 소화제
# 기타
# 기타
# for 변수명 in 리스트명:
temp_list = []

for n in medicine:
    if n == '소화제':
        temp_list.append(n)
    else:
        temp_list.append('기타')
temp_list.sort()
temp_list.reverse()
print(temp_list)

n1 = medicine.count('소화제')
n2 = len(medicine) - n1
for i in range(n1):
    print('소화제', end=' ')
for i in range(n2):
    print('기타', end=' ')

['소화제', '기타', '기타']
소화제 기타 기타

In [126]:
# store 변수에 지점명을 담아줍니다.
store = ["서울역점", "강남점", "마포점", "여의도점"]
store

['서울역점', '강남점', '마포점', '여의도점']

In [127]:
# 지점별로 print문을 통해 출력해 봅니다.
i = 0
while i < len(store):
    print(store[i])
    i += 1

서울역점
강남점
마포점
여의도점

In [134]:
# enumerate를 사용하면 인덱스 번호와 원소를 같이 가져올 수 있습니다.
for n, i in enumerate(store):
    print(n, i)

0 서울역점
1 강남점
2 마포점
3 여의도점

### 응용
*  딕셔너리의 결과가 아래와 같이 나오도록 아래의 문자열을 변경해 보세요.
```
{'경기': '031',
 '강원': '033',
 '충남': '041',
 '충북': '043',
 '경북': '054',
 '경남': '055',
 '전남': '061',
 '전북': '063'}
```

In [140]:
# 아래의 문자를 딕셔너리 형태로 변경하기
phone = ">경기 031 >강원 033 >충남 041 >충북 043 >경북 054 >경남 055 >전남 061 >전북 063"
# ">" 문자를 기준으로 문자열을 나눕니다.

temp_list = phone.split('>')
temp_list = temp_list[1:]

result_list = []
for i in temp_list:
    result_list.append(i.strip())

result_dict = {}
for i in result_list:
    a = i.split(' ')
    result_dict[a[0]] = a[1]
result_dict

{'경기': '031',
 '강원': '033',
 '충남': '041',
 '충북': '043',
 '경북': '054',
 '경남': '055',
 '전남': '061',
 '전북': '063'}

In [142]:
temp_list = phone.split('>')
temp_list = temp_list[1:]

phone_dict = {}

for i in temp_list:
    area = i.strip().split()[0]
    num = i.strip().split()[1]
    phone_dict[area] = num
    
phone_dict

{'경기': '031',
 '강원': '033',
 '충남': '041',
 '충북': '043',
 '경북': '054',
 '경남': '055',
 '전남': '061',
 '전북': '063'}

## 함수

In [146]:
date = "2020.11.01"

In [144]:
# parse_month 라는 월을 반환하는 함수를 만듭니다.
def parse_month(date):
    a = date.split('.')[1]
    return a

In [147]:
parse_month(date)

'11'

In [150]:
# parse_phone 이라는 전화번호 국번을 반환하는 함수를 만듭니다.
def parse_phone(num):
    n = num.split('-')[0]
    return n

In [151]:
phone_num = "031-321-1234"
parse_phone(phone_num)

'031'