* 퀴즈를 위해 아래 셀을 실행해 주세요.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/성분코드목록표.csv")
df.shape

(7213, 12)

## 1. 주성분코드의 주성분일련번호 파생변수를 만들어 주세요.
* 다음 문서를 보면 앞에서 4자리가 `주성분일련번호` 입니다.
* https://www.health.kr/drug_info/basedrug/main_ingredient.html
* head() 로 다음의 결과가 나오도록 합니다.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>주성분코드</th>
      <th>주성분일련번호</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>100101AGN</td>
      <td>1001</td>
    </tr>
    <tr>
      <th>1</th>
      <td>101803AGN</td>
      <td>1018</td>
    </tr>
    <tr>
      <th>2</th>
      <td>101804AGN</td>
      <td>1018</td>
    </tr>
    <tr>
      <th>3</th>
      <td>101806AGN</td>
      <td>1018</td>
    </tr>
    <tr>
      <th>4</th>
      <td>125901AGN</td>
      <td>1259</td>
    </tr>
  </tbody>
</table>

In [6]:
df["주성분일련번호"] = df['주성분코드'].str[:4]
df[['주성분코드', '주성분일련번호']].head()

       주성분코드 주성분일련번호
0  100101AGN    1001
1  101803AGN    1018
2  101804AGN    1018
3  101806AGN    1018
4  125901AGN    1259

## 2. 주성분코드의 함량일련번호 파생변수를 만들어 주세요.
* 다음 문서를 보면 5,6자리가 `함량일련번호` 입니다.
* https://www.health.kr/drug_info/basedrug/main_ingredient.html
* head() 로 다음의 결과가 나오도록 합니다.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>주성분코드</th>
      <th>함량일련번호</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>100101AGN</td>
      <td>01</td>
    </tr>
    <tr>
      <th>1</th>
      <td>101803AGN</td>
      <td>03</td>
    </tr>
    <tr>
      <th>2</th>
      <td>101804AGN</td>
      <td>04</td>
    </tr>
    <tr>
      <th>3</th>
      <td>101806AGN</td>
      <td>06</td>
    </tr>
    <tr>
      <th>4</th>
      <td>125901AGN</td>
      <td>01</td>
    </tr>
  </tbody>
</table>

In [10]:
df["함량일련번호"] = df['주성분코드'].str[4:6]
df[['주성분코드', '함량일련번호']].head()

       주성분코드 함량일련번호
0  100101AGN     01
1  101803AGN     03
2  101804AGN     04
3  101806AGN     06
4  125901AGN     01

## 3. 함량일련번호의 타입을 int로 변경해 주세요.

* `df["함량일련번호"].head(1)` 를 출력했을 때 다음의 결과가 나오도록 합니다.
```
0    1
Name: 함량일련번호, dtype: int64
```

In [50]:
df[df['함량일련번호'].isnull()]

,성분코드,성분명,함량,단일복합,주성분코드,제형코드,투여경로,투여경로명,제형명칭,동일 제형군,함량수치,함량단위,주성분일련번호,함량일련번호
5697,15.6,15.6,15.6,15.6,15.6,15.6,15.6,15.6,15.6,15.6,15.6,NaN,15.6,NaN

In [56]:
df['함량일련번호'] = pd.to_numeric(df['함량일련번호'], errors='coerce')
drop_num = df[df['함량일련번호'].isnull()].index
df = df.drop(drop_num)
df['함량일련번호'] = df['함량일련번호'].astype('int64')
df['함량일련번호'].head(1)

0    1
Name: 함량일련번호, dtype: int64

## 4. "제형명칭" 이 "패취제" 인 데이터만 가져와서 "주성분일련번호"로 그룹화 하고 "함량일련번호" 의 max 값을 구해주세요.
* 다음의 값이 출력되도록 합니다.
```
주성분일련번호
1546    6
1582    2
2025    6
2208    1
2361    2
3359    0
3360    0
Name: 함량일련번호, dtype: int64
```

In [57]:
df[df['제형명칭'] == '패취제'].groupby(by='주성분일련번호')['함량일련번호'].max()

주성분일련번호
1546    6
1582    2
2025    6
2208    1
2361    2
3359    0
3360    0
Name: 함량일련번호, dtype: int64

## 5. 성분명에 "균사체"가 들어가는 데이터에서 "주성분코드" 컬럼만 찾아주세요.
* 다음의 결과가 출력되도록 작성해 주세요.
```
0      100101AGN
212    100102ACH
Name: 주성분코드, dtype: object
```

In [22]:
df.loc[df['성분명'].str.contains('균사체'), '주성분코드']

0      100101AGN
212    100102ACH
Name: 주성분코드, dtype: object

## 6. "함량단위"가 "mg" 이고 "투여경로명"이 "내복제", "외용제" 인 데이터프레임의 행과 열의 수를 출력해 주세요.
* 아래의 결과가 출력되도록 작성합니다.
`(4726, 11)`

In [25]:
df[(df['함량단위'] == 'mg') & (df['투여경로명'].isin(['내복제', '외용제']))].shape

(4726, 14)

## 7. "성분명"에 "sodium"이나 "calcium"이 들어가는 데이터에서 "투여경로명" 의 빈도수를 구해주세요.
* 아래의 결과가 출력되도록 합니다.
* **loc를 사용해서 작성해 주세요.**
```
주사제    397
내복제    294
외용제     61
Name: 투여경로명, dtype: int64
```

In [28]:
df.loc[df['성분명'].str.contains('sodium|calcium'), '투여경로명'].value_counts()

주사제    397
내복제    294
외용제     60
Name: 투여경로명, dtype: int64

## 8. "함량단위" 가 "mcg"인 데이터에서 "함량수치"만 가져와서 기술통계값을 구합니다.
* 다음의 값이 출력되도록 합니다.
```
count     466.000000
mean      255.749966
std       241.231415
min         0.005000
25%        26.000000
50%       200.000000
75%       500.000000
max      1000.000000
Name: 함량수치, dtype: float64
```

In [29]:
df.loc[df['함량단위'] == 'mcg', '함량수치'].describe()

count     466.000000
mean      255.749966
std       241.231415
min         0.005000
25%        26.000000
50%       200.000000
75%       500.000000
max      1000.000000
Name: 함량수치, dtype: float64

## 9. 함량단위가 "천만마리" 인 데이터의 주성분코드를 찾아주세요.
* 다음의 결과가 출력되도록 합니다.
```
636     290600ACH
6431    290800APD
Name: 주성분코드, dtype: object
```

In [31]:
df.loc[df['함량단위'] == '천만마리', '주성분코드']

636     290600ACH
6431    290800APD
Name: 주성분코드, dtype: object

## 10. 성분코드는 "주성분코드" 변수를 새로 생성해 주었기 때문에 사용하지 않습니다. drop을 통해 제거하고 df 변수의 columns 값을 출력해 줍니다.
* 제거시 del이 아닌 drop을 사용해 주세요.
* 이미 삭제했는데 다시 삭제하면 KeyError 가 발생하니 이 때는 drop으로 작성한 줄을 주석처리 해주셔도 됩니다.
* 아래의 결과가 나오도록 합니다.
```
Index(['성분명', '함량', '단일복합', '주성분코드', '제형코드', '투여경로', '투여경로명', '함량수치', '함량단위',
       '제형명칭', '동일 제형군', '주성분일련번호', '함량일련번호'],
      dtype='object')
```

In [33]:
# drop을 사용해 "성분코드"를 제거해 주세요.
df_new = df.drop('성분코드', axis=1)

In [35]:
# 데이터프레임의 컬럼만 출력되도록 합니다.
df_new.columns

Index(['성분명', '함량', '단일복합', '주성분코드', '제형코드', '투여경로', '투여경로명', '제형명칭', '동일 제형군',
       '함량수치', '함량단위', '주성분일련번호', '함량일련번호'],
      dtype='object')