## 네이버 금융 개별종목 수집
* FinanceDataReader를 통해 수집했던 데이터를 네이버 증권 웹 페이지를 통해 직접 수집합니다.


### Keyword

* html 파일 읽어오기
    * pd.read_html(url, encoding="cp949")

* 결측 데이터 제거하기(axis 0:행, 1:열)
    * table[0].dropna()

* 데이터 프레임 합치기
    * pd.concat([df1, df2, df3])

* 중복데이터 제거
    * df.drop_duplicates()

* 과학적 기수법
    * 1.210000e+02 => 121

* 날짜 column의 첫 row값 확인
    * date = df.iloc[0]["날짜"]

* 파일로 저장하기 
    * df.to_csv(file_name, index=False)

* 파일 읽어오기
    * pd.read_csv(file_name)

## 수집할 페이지 보기

* 네이버 금융 국내증시 : https://finance.naver.com/sise/

## 라이브러리 로드

In [1]:
# 라이브러리 로드
import pandas as pd

## 수집할 URL 정하기

In [11]:
# 종목번호와 상장사 이름을 item_code와 item_name으로 설정
item_code = "069620"
item_name = "대웅제약"
page_no = 3

# 종목 URL 만들기
url = f"https://finance.naver.com/item/sise_day.nhn?code={item_code}&page={page_no}"
url

'https://finance.naver.com/item/sise_day.nhn?code=069620&page=3'

## requests를 통한 HTTP 요청
* [Requests: HTTP for Humans™ — Requests documentation](https://requests.readthedocs.io/en/master/)
* [Quickstart — Requests documentation # custom-headers](https://requests.readthedocs.io/en/latest/user/quickstart/#custom-headers)

In [13]:
import requests

headers = {'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.212 Safari/537.36'}
# response
response = requests.get(url, headers=headers)
response.text

'\n<html lang="ko">\n<head>\n<meta http-equiv="Content-Type" content="text/html; charset=euc-kr">\n<title>네이버 금융</title>\n\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20210526011704/css/newstock.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20210526011704/css/common.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20210526011704/css/layout.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20210526011704/css/main.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20210526011704/css/newstock2.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20210526011704/css/newstock3.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20210526011704/css/world.css">\n</head>\n<body>\n<script language="JavaScript">\nfunction mouseOver(obj){\n  obj.style.backgroundColor="#f6f4e5";\n}\nfunction mouseOut(obj){\n  obj.style.backgroundColor="#ffffff";\n}\n</script>\n\t\t\t\t<h4 class="tlline2"><strong><span class="red03">일별</span>시세</strong></h4>\t\t\t\n\t\t\t\t<table cellspacing="0" class="type2">\n\t\t\t\t<tr>\n\t\t\t\t<th>날짜</th>\n\t\t\t\t<th>종가</th>\n\t\t\t\t<th>전일비</th>\n\t\t\t\t<th>시가</th>\n\t\t\t\t<th>고가</th>\n\t\t\t\t<th>저가</th>\n\t\t\t\t<th>거래량</th>\n\t\t\t\t</tr>\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="8"></td>\n\t\t\t\t</tr>\n\n\n\t\n\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.05.06</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">136,000</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t2,000\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">132,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">137,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">131,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">60,566</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.05.04</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">134,000</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t7,500\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">125,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">135,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">123,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">102,813</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.05.03</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">126,500</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t7,000\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">133,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">133,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">126,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">62,429</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.04.30</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">133,500</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t7,000\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">138,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">139,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">131,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">125,749</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.04.29</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">140,500</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t2,500\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">143,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">145,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">140,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">82,845</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="8"></td>\n\t\t\t\t</tr>\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="1" bgcolor="#e1e1e1"></td>\n\t\t\t\t</tr>\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="8"></td>\n\t\t\t\t</tr>\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.04.28</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">143,000</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t3,000\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">140,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">146,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">137,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">129,818</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.04.27</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">140,000</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t2,500\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">143,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">143,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">140,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">42,975</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.04.26</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">142,500</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t500\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">142,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">144,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">141,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">44,820</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.04.23</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">142,000</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t3,500\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">145,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">146,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">142,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">56,834</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.04.22</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">145,500</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t2,500\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">145,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">146,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">142,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">86,037</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\n\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="8"></td>\n\t\t\t\t</tr>\n\t\t\t\t</table>\n\t\t\t\t<!--- 페이지 네비게이션 시작--->\n\t\t\t\t<table summary="페이지 네비게이션 리스트" class="Nnavi" align="center">\n\t\t\t\t<caption>페이지 네비게이션</caption>\n\t\t\t\t<tr>\t\t\n\t\t\t\n\t\t\t\t<td class="pgLL">\n\t\t\t\t<a href="/item/sise_day.nhn?code=069620&amp;page=1"  >\n\t\t\t\t<img src="https://ssl.pstatic.net/static/n/cmn/bu_pgarLL.gif" width="7" height="5" alt="">맨앞\n\t\t\t\t</a>\n\t\t\t\t</td>\n\n                \n                <td>\n\t\t\t\t<a href="/item/sise_day.nhn?code=069620&amp;page=1"  >1</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.nhn?code=069620&amp;page=2"  >2</a>\n\t\t\t\t</td>\n<td class="on">\n\t\t\t\t<a href="/item/sise_day.nhn?code=069620&amp;page=3"  >3</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.nhn?code=069620&amp;page=4"  >4</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.nhn?code=069620&amp;page=5"  >5</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.nhn?code=069620&amp;page=6"  >6</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.nhn?code=069620&amp;page=7"  >7</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.nhn?code=069620&amp;page=8"  >8</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.nhn?code=069620&amp;page=9"  >9</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.nhn?code=069620&amp;page=10"  >10</a>\n\t\t\t\t</td>\n\n                <td class="pgR">\n\t\t\t\t<a href="/item/sise_day.nhn?code=069620&amp;page=11"  >\n\t\t\t\t다음<img src="https://ssl.pstatic.net/static/n/cmn/bu_pgarR.gif" width="3" height="5" alt="" border="0">\n\t\t\t\t</a>\n\t\t\t\t</td>\n\n                <td class="pgRR">\n\t\t\t\t<a href="/item/sise_day.nhn?code=069620&amp;page=460"  >맨뒤\n\t\t\t\t<img src="https://ssl.pstatic.net/static/n/cmn/bu_pgarRR.gif" width="8" height="5" alt="" border="0">\n\t\t\t\t</a>\n\t\t\t\t</td>\n\n            \n\t\t\t\t</tr>\n\t\t\t\t</table>\n\t\t\t\t<!--- 페이지 네비게이션 끝--->\n\n\n\t<script type="text/javascript" src="https://ssl.pstatic.net/imgstock/static.pc/20210526011704/js/jindo.min.ns.1.5.3.euckr.js"></script>\n\t<script type="text/javascript" src="https://ssl.pstatic.net/imgstock/static.pc/20210526011704/js/lcslog.js"></script>\n\t<script type="text/javascript">\n        ;(function(){\n            var eventType = "onpageshow" in window ? "pageshow" : "load";\n            jindo.$Fn(function(){\n                lcs_do();\n            }).attach(window, eventType);\n        })();\n\t</script>\n\n</body>'

In [12]:
print(url)

https://finance.naver.com/item/sise_day.nhn?code=069620&page=3

## BeautifulSoup 을 통한 table 태그 찾기

* [Beautiful Soup Documentation — Beautiful Soup 4.9.0 documentation](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)

In [15]:
# bs4에서 BeautifulSoup 불러오기
# html
from bs4 import BeautifulSoup as bs

html = bs(response.text, 'lxml')

In [18]:
table = html.select('table')
len(table)

2

In [22]:
type(table)

bs4.element.ResultSet

In [21]:
type(table[0])

bs4.element.Tag

## pandas 코드 한 줄로 데이터 수집하기

In [ ]:
https://eclass3.cau.ac.kr/learningx/coursebuilder/course/50642/learn/157454/unit/1214452/view?user_id=85126&user_login=20176579&user_name=%EB%B0%B0%EB%B3%91%ED%98%84&user_email=bbh9955%40naver.com&role=1&locale=ko&mode=default&component_id=1667070
Request Method: GET

In [ ]:
https://eclass3.cau.ac.kr/learningx/coursebuilder/course/50638/learn/172645/unit/1269539/view?user_id=85126&user_login=20176579&user_name=%EB%B0%B0%EB%B3%91%ED%98%84&user_email=bbh9955%40naver.com&role=1&locale=ko&mode=default&component_id=1667070

In [27]:
# read_html을 이용하여 url의 page내의 값을 DataFrame으로 받아옵니다.
# cp949는 한글 인코딩을 위해 사용합니다. 기본 인코딩 설정은 utf-8 이며, 
# 네이버의 일별 시세는 cp949 인코딩으로 불러올 수 있습니다.
# 데이터를 로드 했을 때 한글 인코딩이 깨진다면 대부분 cp949 로 불러올 수 있습니다.
# table 
temp = pd.read_html(str(table))
temp

[            날짜        종가     전일비        시가        고가        저가       거래량
 0          NaN       NaN     NaN       NaN       NaN       NaN       NaN
 1   2021.05.06  136000.0  2000.0  132000.0  137000.0  131000.0   60566.0
 2   2021.05.04  134000.0  7500.0  125500.0  135000.0  123500.0  102813.0
 3   2021.05.03  126500.0  7000.0  133500.0  133500.0  126500.0   62429.0
 4   2021.04.30  133500.0  7000.0  138000.0  139000.0  131500.0  125749.0
 5   2021.04.29  140500.0  2500.0  143000.0  145000.0  140500.0   82845.0
 6          NaN       NaN     NaN       NaN       NaN       NaN       NaN
 7          NaN       NaN     NaN       NaN       NaN       NaN       NaN
 8          NaN       NaN     NaN       NaN       NaN       NaN       NaN
 9   2021.04.28  143000.0  3000.0  140000.0  146500.0  137500.0  129818.0
 10  2021.04.27  140000.0  2500.0  143000.0  143500.0  140000.0   42975.0
 11  2021.04.26  142500.0   500.0  142500.0  144500.0  141500.0   44820.0
 12  2021.04.23  142000.0  3500.0  145000.0  146000.0  142000.0   56834.0
 13  2021.04.22  145500.0  2500.0  145000.0  146000.0  142000.0   86037.0
 14         NaN       NaN     NaN       NaN       NaN       NaN       NaN,
    0   1   2   3   4   5   6   7   8   9   10  11  12
 0  맨앞   1   2   3   4   5   6   7   8   9  10  다음  맨뒤]

In [31]:
# table[0]와 table[1]을 확인하여 보면 table[0]에 필요한 데이터들이 있습니다.
temp[0]

            날짜        종가     전일비        시가        고가        저가       거래량
0          NaN       NaN     NaN       NaN       NaN       NaN       NaN
1   2021.05.06  136000.0  2000.0  132000.0  137000.0  131000.0   60566.0
2   2021.05.04  134000.0  7500.0  125500.0  135000.0  123500.0  102813.0
3   2021.05.03  126500.0  7000.0  133500.0  133500.0  126500.0   62429.0
4   2021.04.30  133500.0  7000.0  138000.0  139000.0  131500.0  125749.0
5   2021.04.29  140500.0  2500.0  143000.0  145000.0  140500.0   82845.0
6          NaN       NaN     NaN       NaN       NaN       NaN       NaN
7          NaN       NaN     NaN       NaN       NaN       NaN       NaN
8          NaN       NaN     NaN       NaN       NaN       NaN       NaN
9   2021.04.28  143000.0  3000.0  140000.0  146500.0  137500.0  129818.0
10  2021.04.27  140000.0  2500.0  143000.0  143500.0  140000.0   42975.0
11  2021.04.26  142500.0   500.0  142500.0  144500.0  141500.0   44820.0
12  2021.04.23  142000.0  3500.0  145000.0  146000.0  142000.0   56834.0
13  2021.04.22  145500.0  2500.0  145000.0  146000.0  142000.0   86037.0
14         NaN       NaN     NaN       NaN       NaN       NaN       NaN

In [32]:
# dropna를 통해 결측치가 들어있는 row를 제거합니다.
temp_table = temp[0].dropna()
temp_table

            날짜        종가     전일비        시가        고가        저가       거래량
1   2021.05.06  136000.0  2000.0  132000.0  137000.0  131000.0   60566.0
2   2021.05.04  134000.0  7500.0  125500.0  135000.0  123500.0  102813.0
3   2021.05.03  126500.0  7000.0  133500.0  133500.0  126500.0   62429.0
4   2021.04.30  133500.0  7000.0  138000.0  139000.0  131500.0  125749.0
5   2021.04.29  140500.0  2500.0  143000.0  145000.0  140500.0   82845.0
9   2021.04.28  143000.0  3000.0  140000.0  146500.0  137500.0  129818.0
10  2021.04.27  140000.0  2500.0  143000.0  143500.0  140000.0   42975.0
11  2021.04.26  142500.0   500.0  142500.0  144500.0  141500.0   44820.0
12  2021.04.23  142000.0  3500.0  145000.0  146000.0  142000.0   56834.0
13  2021.04.22  145500.0  2500.0  145000.0  146000.0  142000.0   86037.0

In [38]:
# 수집된 데이터 중에 중복데이터가 있는지 확인하기
temp_table[temp_table.duplicated()]

Empty DataFrame
Columns: [날짜, 종가, 전일비, 시가, 고가, 저가, 거래량]
Index: []

In [40]:
temp_table.drop_duplicates()

            날짜        종가     전일비        시가        고가        저가       거래량
1   2021.05.06  136000.0  2000.0  132000.0  137000.0  131000.0   60566.0
2   2021.05.04  134000.0  7500.0  125500.0  135000.0  123500.0  102813.0
3   2021.05.03  126500.0  7000.0  133500.0  133500.0  126500.0   62429.0
4   2021.04.30  133500.0  7000.0  138000.0  139000.0  131500.0  125749.0
5   2021.04.29  140500.0  2500.0  143000.0  145000.0  140500.0   82845.0
9   2021.04.28  143000.0  3000.0  140000.0  146500.0  137500.0  129818.0
10  2021.04.27  140000.0  2500.0  143000.0  143500.0  140000.0   42975.0
11  2021.04.26  142500.0   500.0  142500.0  144500.0  141500.0   44820.0
12  2021.04.23  142000.0  3500.0  145000.0  146000.0  142000.0   56834.0
13  2021.04.22  145500.0  2500.0  145000.0  146000.0  142000.0   86037.0

## 페이지별 데이터 수집 함수 만들기

In [33]:
# 종목 번호를 이용해 page에 따라 데이터를 읽어오는 함수
# """ 는 이 두개 사이의 행들은 주석 처리되며, 함수의 docstring 으로 사용됩니다.

def get_day_list(item_code, page_no):
    """
    일자별 시세를 페이지별로 수집
    """ 
    # url 만들기
    url = f"https://finance.naver.com/item/sise_day.nhn?code={item_code}&page={page_no}"
    # 브라우저처럼 접근하기 위해 헤더를 만들어주기
    headers = {'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.212 Safari/537.36'}
    # requests의 get으로 가져오기
    # get, post 여부는 네트워크탭의 헤더의 Request Method를 참고
    response = requests.get(url, headers=headers)
    # html 페이지에서 원하는 데이터를 얻기 위해 bs로 해석하기
    html = bs(response.text, 'lxml')
    table = html.select('table')
    temp = pd.read_html(str(table))
    temp_table = temp[0].dropna()
    return temp_table

In [36]:
# 함수가 잘 만들어졌는지 확인하기
get_day_list(item_code, 1)

            날짜        종가     전일비        시가        고가        저가       거래량
1   2021.06.04  160500.0  2500.0  160000.0  164000.0  159000.0   66378.0
2   2021.06.03  158000.0  2000.0  157000.0  161000.0  157000.0   57652.0
3   2021.06.02  156000.0   500.0  157500.0  159500.0  155000.0   50327.0
4   2021.06.01  156500.0  3000.0  156000.0  161500.0  154500.0   73187.0
5   2021.05.31  153500.0  4500.0  157000.0  159000.0  153000.0   66475.0
9   2021.05.28  158000.0     0.0  158000.0  160000.0  153000.0   56826.0
10  2021.05.27  158000.0  3000.0  162500.0  163000.0  157500.0   71753.0
11  2021.05.26  161000.0  4500.0  156500.0  162500.0  156500.0   71240.0
12  2021.05.25  156500.0   500.0  157000.0  160000.0  155500.0   82030.0
13  2021.05.24  156000.0  6000.0  162500.0  165000.0  151500.0  161463.0

## 반복문을 통한 전체 일자 데이터 수집하기
* (주의) 기간이 긴 데이터를 수집할때는 서버에 부담을 주지 않기 위해 time.sleep()값을 주세요.

In [ ]:
import time
# web page 시작번호
page_no = 1
# 데이터를 저장할 빈 변수 선언
item_list = []

while True:
    if page_no > 10:
        break;

In [ ]:
len(item_list)

## 수집한 데이터 하나의 데이터프레임으로 합치기

<img src="https://pandas.pydata.org/docs/_images/merging_concat_basic.png">

* [Merge, join, concatenate and compare documentation](https://pandas.pydata.org/docs/user_guide/merging.html#merge-join-concatenate-and-compare)

In [ ]:
# DataFrame들이 list의 형태로 저장된 것을 concat을 이용하여 합치면서 하나의 DataFrame으로 만듭니다.
# df

<img src="https://pandas.pydata.org/docs/_images/08_concat_row.svg">

In [ ]:
# head와 tail로 데이터의 일부를 가져와서 봅니다.

## 데이터프레임에 종목코드와 종목명을 추가하기
* 파생변수 만들기

In [ ]:
# '종목코드'와 '종목명' column을 추가하면서 각각 item_code와 item_name 값을 입력합니다.
# df["종목코드"]
# df["종목명"]

## 컬럼 순서 변경하기

In [ ]:
# DataFrame에서 column 들의 이름을 순서를 조정하여 column순서를 변경할 수 있습니다.

In [ ]:
# cols = ['종목코드', '종목명', '날짜', '종가', '전일비', '시가', '고가', '저가', '거래량']
# df = df[cols]

## 중복데이터 제거하기
* drop_duplicates 를 통해 중복된 데이터가 있다면 제거합니다.

In [ ]:
# drop_duplicates : row들 끼리 data를 비교하여 같은 값이 있으면 row중 하나를 삭제
# df.shape를 전/후로 출력하여 삭제된 row가 있는지 확인
df

## 기술통계값 구하기

In [ ]:
# describe는 기본적으로 수치데이터에 대한 기술통계값을 구하게 됩니다.
df

* 참고 : E notation
[과학적 기수법 - 위키백과, 우리 모두의 백과사전](https://ko.wikipedia.org/wiki/%EA%B3%BC%ED%95%99%EC%A0%81_%EA%B8%B0%EC%88%98%EB%B2%95)

과학적 기수법, 과학적 표기법(scientific notation, scientific form, standard index form, standard form)은 너무 크거나 너무 작은 숫자들을 십진법으로 편하게 작성하여 표현하는 방법이다. 과학자, 수학자, 공학자들이 공통적으로 사용하는데, 부분적인 이유는 특정한 산술을 단순화시켜 주기 때문이다. 과학 계산기에서는 "SCI" 디스플레이 모드라는 이름으로 알려져 있다.

In [ ]:
# 거래량의 과학적 기수법 읽기

## 최근 날짜 구해서 파일명 만들기

In [ ]:
# 날짜 column의 첫 row값 확인
date = df.____[0]["날짜"]
date

In [ ]:
# 종목명, 종목코드, 날짜를 이름으로 하는 csv 파일명 만들기
file_name = f"{item_name}_{item_code}_{date}.csv"
file_name

## 파일로 저장하기

In [ ]:
# 파일로 저장하기 
# index=False 로 데이터프레임의 기본 index 는 저장하지 않도록 합니다.

In [ ]:
# 제대로 저장되었는지 파일을 읽어서 확인합니다

## 전체 과정을 하나의 함수로 만들기

In [ ]:
def get_item_list(item_code, item_name):
    """
    일별 시세를 수집하는 함수
    """
    # web page 시작번호
    page_no = 1
    # 데이터를 저장할 빈 변수 선언
    item_list = []

    return df

In [ ]:
item_code = "003090"
item_name = "대웅"

get_item_list(item_code, item_name)

## 내가 만든 함수의 기능과 소스코드가 궁금하다면?

In [ ]:
# 도움말 보기
# get_item_list?

In [ ]:
# 소스코드 보기
# get_item_list??